<h1 class="media-heading">Your Task's</h1>
<div class="media">
  <div class="media-body">
    <table class="table table-striped">
        <tr>
          <th>Task</th>
          <th>Time Remaining</th>
          <th>Complete Task</th>
        </tr>
      <%= render @items %>
    </table>
  </div>
  <div>
    <%= render partial: "items/form" %>
  </div>
</div>
