<h2 class="media-heading greeting">Tasks for <%= @user.email %></h2>
<div class="media-heading time-info">
  <p><em>Tasks not completed within 7 days will dissappear.</em></p>
</div>
<div class="media">
  <div class="media-body">
    <table class="table table-striped">
        <tr>
          <th>Task</th>
          <th>Time Remaining</th>
          <th>Complete Task</th>
        </tr>
      <%= render @items %>
    </table>
  </div>

  <div class="form">
    <%= render partial: "items/form" %>
  </div>
  <br>
</div>
