<h1 class="media-heading">Your Task's</h1>
<div class="media">
  <div class="media-body">
    <table class="table table-striped">
        <tr>
          <th>Task</th>
          <th>Time Remaining</th>
          <th>Complete Task</th>
        </tr>
      <%= render @items %>
    </table>
  </div>

  <div>
    <%= render partial: "items/form" %>
  </div>
  <br>
  <div class="media-heading">
    <p><em>Task's have a 7 day time frame for you to complete them. If a task is not completed in 7 days it will be removed from your list.</em></p>
  </div>
</div>
