<h1 class="media-heading">Your Task's</h1>
<div class="media">
  <div class="media-body">
    <table class="table table-striped">
        <tr>
          <th>item</th>
          <th>time remaining</th>
          <th></th>
        </tr>
      <%= render @items %>
    </table>
  </div>
  <div>
    <%= render partial: "items/form" %>
  </div>
  <div class="params" style="margin-top: 25px; color: red;"><p><em><strong>Delete Before Deploy:</strong> <%= params %></em></p></div>
</div>
