<tr id="item-<%= item.id %>">
  <td><%= item.name %></td>
  <td><span class=""><%= distance_of_time_in_words(Time.now, item.created_at + 7.days) %></span></td> <%# this is basically x - (y+7) = time remaining %>
  <td><%= link_to "", user_item_path(current_user, item), method: :delete, class: 'glyphicon glyphicon-ok check', remote: true %></td><%# Remember to pass in the parameters to the URL that the Action's route needs to function or you will hit errors.  This would not work without (current_user, item) %>
</tr>
