<% if @item.destroyed? %>
  $('#item-<%= @item.id %>').hide();

  $('.flash').prepend("<div class='alert alert-success'>Way to go! You completed something off your list. You rock!<button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash.now[:notice] %></div>");
  // Add alert after successful deletion "task completion" with AJAX.
<% else %>
  $('.flash').prepend("<div class='alert alert-danger'>There was a problem when we tried to complete your item. Please try again.<button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash.now[:alert] %></div>");
<% end %>
